{% if compilation %}
    {% load user_staff %}

    {% load cache %}
    {% cache 300 toppeople count %}

        <div>
            {% if count < 10 %}<h5>Popular people</h5>{% endif %}
            {% for man in compilation%}
                <div class="popular_man">
                    <span>
                        <a href="{% url 'username_profile' man %}">
                        <img src="{% userpic_src man.id %}" class="miniprofile followpic" />
                        {{ man }}</a> with {{ man.likes_count }} {{ text }}
                    </span>
                </div>
            {% endfor %}
        </div>

    {% endcache %}
{% endif %}