{% load user_staff %}
<div style="margin-top:20px;display: block; clear:both;">
    {% like_post user post.id %}
    <h4><a title="Visit user profile" href='{% url 'username_profile' post.author.user.username %}' class="postauthor">{{ post.author.user.username }}</a>{% follow user post.author %} on {{ post.pub_date }}
    <a href="{% url 'post' post.id %}" title="Open post"><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span></a>
    <a title="Answer!"><span class="glyphicon glyphicon-share-alt answer-button" aria-hidden="true"></span></a></h4>
    <pre>{{ post.text }}{% if post.attachfile %}<br><img src='{{ post.attachfile }}' style="height: 200px;" />{% endif %}</pre>

    {% if post.answerfor %}
        {% if depth %}
            <div style="display: block; width: 80%; min-width:200px; float:right;"><span style="float:left;" class="glyphicon glyphicon-share-alt" aria-hidden="True"></span>{% show_post post.answerfor depth %}</div>
        {% else %}
            <a href="{% url 'post' post.answerfor.id %}"><span style="float:left;" title="It is answer" class="glyphicon glyphicon-log-out" aria-hidden="True"></span></a>
        {% endif %}
    {% endif %}
</div>